<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="PROYECTO_DBD_CIBER_WEBEntities" connectionString="metadata=res://*/bdciberweb.csdl|res://*/bdciberweb.ssdl|res://*/bdciberweb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MELISA;initial catalog=PROYECTO_DBD_CIBER_WEB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>